.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    color: black;
}

.restaurant-card {
    background: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.restaurant-card img {
    width: 100%;
    border-radius: 8px;
}

.card-info {
    margin-top: 12px;
}

.card-info a {
    color: blue;
    text-decoration: underline;
    margin-top: 8px;
    display: inline-block;
}
