.restaurant-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    color: black;
}

.slider-card {
    background: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.slider-card img {
    width: 100%;
    border-radius: 8px;
}

.slider-info {
    margin-top: 12px;
}
