.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    color: black;
}

.restaurant-card {
    background: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.restaurant-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    max-height: 150px;
}

.card-info {
    text-align: left;
    width: 100%;
    margin-top: 12px;
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-info p {
    margin: 6px 0;
    font-size: 0.9rem;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.action-button {
    padding: 6px 6px; /* 버튼의 안쪽 여백 */
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}

.like-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

.like-button.liked {
    color: red;
}

