html {
    overflow: hidden;
}

.map-container {
    display: flex;
    height: calc(100vh - 40px); /* 헤더 높이 제외한 화면 크기 */
    margin-top: 40px; /* 헤더와 겹치지 않도록 조정 */
    overflow: hidden;
}

.map {
    flex: 3;
    height: 100vh;
}

.map-sidebar {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    max-width: 320px;
    overflow: auto; /* 내부 스크롤 가능하게 설정 */
}

/* 검색창 고정 */
.map-search-container {
    flex-shrink: 0;
    margin-bottom: 10px;
}

.map-card-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;

    /* 스크롤 디자인 개선 */
    scrollbar-width: thin;
    scrollbar-color: #888 #f9f9f9;
}

.map-card-list::-webkit-scrollbar {
    width: 8px;
}

.map-card-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.map-card-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.map-card-list::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.map-restaurant-card {
    display: flex;
    flex-direction: column; /* 카드 내용 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.map-restaurant-card:hover {
    transform: translateY(-5px);
}

.map-card-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.map-card-content p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

/* 검색 바 스타일 */
.map-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.map-search-bar {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.map-search-bar:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    outline: none;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
